body {
  margin: 0;
  padding: 0;
  background-color: midnightblue;
  color: #FFD700;
}

.headder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(66, 94, 111, 0.64);
  color: #FFD700;
  height: 50px;
  padding: 10px;
}

.footer {
  background-color: rgba(66, 94, 111, 0.64);
  color: #FFD700;
  text-align: center;
  font-style: italic;
  position: relative;
  padding-top: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  margin-bottom: 0px;
}
.fa-facebook {
  background: #3B5998; /* Facebook blue */
  color: white;
}

.fa-twitter {
  background: #55ACEE; /* Twitter blue */
  color: white;
}

.fa-instagram {
  background: #E4405F; /* Instagram pink */
  color: white;
}

ul {
  color: #FFD700;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #FFD700; /* set color of links to yellow */
  text-decoration: none; /* remove underlining */
}

.headder .navbar li a {
  color: #FFD700; /* set color of account button to yellow */
}

.headder ul {
  display: flex;
  flex-direction: row; /* Display list items in a column */
  align-items: flex-end; /* Align items to the end of the column */
}

.headder li {
  margin-right: 15px;
  margin-bottom: 10px; /* Add space between list items */
}

.headder li a {
  color: #FFD700; /* Set color of text to golden */
}

.headder li i {
  color: white; /* Set color of icons to white */
}
.bgimage img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:fill; /* Ensure the image covers the entire container */
  z-index: -1;
}

.login {
  background-color: ghostwhite;
  color:#343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 50px auto;
}
.welcome-back {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.label {
  font-size: 16px;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color:rgb(233, 241, 239);
  color: white;
}

.input::placeholder {
  color:#343541;
}
.continue-button {
  background-color: #425E6F;
  color: white;
  border: none;
  width: 400px;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.continue-button:hover {
  background-color: #34495e; /* Change color on hover */
}

.login {
  background-color: ghostwhite;
  color: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 50px auto;
}

.welcome-back {
  font-size: 30px;
  margin-bottom: 20px;
  color:#34495e;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: rgb(233, 241, 239);
  color:#3B5998; /* Changed color to dark */
}

.input::placeholder {
  color: #343541; /* Changed color to dark */
}

.dont-have-an-account-sign-up {
  font-size: 14px;
  color: #34495e;
}
.dont-have-an-account-sign-up a{
  font-size: 14px;
  color:#3B5998;
}
.dont-have-an-account-sign-up a:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}

.error {
  color: red;
  font-size: 0.875em;
}
#logout-btn,
#account-info-btn {
    border: none;
    border-radius: 30px;
}

#logout-btn:hover,
#account-info-btn:hover {
    transform: scale(1.1);
}