body {
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    color: #FFD700;
}

.headder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(66, 94, 111, 0.64);
    color: #FFD700;
    height: 50px;
    padding: 10px;
}

.footer {
    background-color: rgba(66, 94, 111, 0.64);
    color: #FFD700;
    text-align: center;
    font-style: italic;
    position: relative;
    padding-top: 60px;
    bottom: 0;
    margin-bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
}
.fa-facebook {
    background: #3B5998; /* Facebook blue */
    color: white;
}

.fa-twitter {
    background: #55ACEE; /* Twitter blue */
    color: white;
}

.fa-instagram {
    background: #E4405F; /* Instagram pink */
    color: white;
}

ul {
    color: #FFD700;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #FFD700; /* set color of links to yellow */
    text-decoration: none; /* remove underlining */
}

.headder .navbar li a {
    color: #FFD700; /* set color of account button to yellow */
}

.headder ul {
    display: flex;
    flex-direction: row; /* Display list items in a column */
    align-items: flex-end; /* Align items to the end of the column */
}

.headder li {
    margin-right: 15px;
    margin-bottom: 10px; /* Add space between list items */
}

.headder li a {
    color: #FFD700; /* Set color of text to golden */
}

.headder li i {
    color: white; /* Set color of icons to white */
}
.bgimage img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill; /* Ensure the image covers the entire container */
    z-index: -1;
}
.Vacations {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.Vacation {
    position: relative;
    width: 30%;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 20px;
    height: 360px; /* Reduced height */
}

.Vacation:hover {
    transform: scale(1.1);
}

.Vacation img {
    width: 100%;
    height: 200px;
    display: block;
}

.details {
    padding: 10px;
    color: black;
    text-align: center;
}

.details h4, .details p{
    margin-top: 0px;
    margin-bottom: 4px;
}

.info {
    display: none;
    margin-top: 0px;
    margin-bottom: 4px;
    padding: 10px;
    color: black;
    text-align: center;
    transition: all 0.3s ease;
}

.Vacation:hover .info {
    display: block;
}

.button {
    background-color: #425E6F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.Vacation:hover .button {
    display: block;
}

.heading{
    color: #FFD700;
    text-align: center ;
    margin-bottom: 30px;
}
#logout-btn,
#account-info-btn {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 30px;
}

#logout-btn:hover,
#account-info-btn:hover {
    transform: scale(1.1);
}
#logout-btn{
    margin-bottom: 3px;
}